<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">

    <title><%= currentUser.username %>'s Profile</title>
</head>
<body>
    <%- include('./partials/nav.ejs') %>
    <h1><%= currentUser.username %>'s profile!</h1>
     <% if (userChallenges.length === 0) { %>
        <p>You have not submitted any challenges yet.</p>

     
        
    <% } else{ %>
        <ul class="profile-info">
    <li> <p>Number of challenges: <%= userChallenges.length %></p> </li>
   <%  userChallenges.forEach(function(challenge){ %>
    <li>  <p> Video Title: <%= challenge.title %> </p> </li>
       <li> <p> Game: <%= challenge.game %> </p> </li>
       <li> <p> Genre: <%= challenge.genre %> </p> </li>
       <li> Video Link: </li>
         <iframe
         width="500"
         height="325"
         src="<%= challenge.videoUrl %>"
         title="<%= challenge.title %>"
         allowfullscreen>
    </iframe> 
    
    
    <% }) %>
    </ul>
   <% }%>
   
    
   <section class="user-comments">
    <h2>My Comments</h2>

    <% if (userComments.length === 0) { %>
        <p>You have not posted any comments yet.</p>
    <% } else { %>

        <p>Number of comments: <%= userComments.length %></p>

        <% userComments.forEach((item) => { %>
            <article>
                <p><%= item.comment.content %></p>

                <p>
                    Posted on:
                    <a href="/challenges/<%= item.challenge._id %>">
                        <%= item.challenge.title %>
                    </a>
                </p>
            </article>
        <% }) %>

    <% } %>
</section>
</body> 
</html>