<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Your Record</title>
</head>
<body>
    <h1>Edit Your Record</h1>
    <form action="/challenges/<%=foundChallenge._id%>?_method=PUT" method="POST">
        <label for="title">Title:</label>
        <input type="text" name="title" value="<%=foundChallenge.title%>" required>

        <label for="game">Game:</label>
        <select id="game" name="game"  required>
            <option value="Devil May Cry 5"  <%= foundChallenge.game === 'Devil May Cry 5' ? 'selected' : '' %>>Devil May Cry 5</option>
            <option value="Ninja Gaiden Black" <%= foundChallenge.game === 'Ninja Gaiden Black' ? 'selected' : '' %>>Ninja Gaiden Black</option>
            <option value="A Hat in Time" <%= foundChallenge.game === 'A Hat in Time' ? 'selected' : '' %>>A Hat in Time</option>
            <option value="Lost Judgement" <%= foundChallenge.game === 'Lost Judgement' ? 'selected' : '' %>>Lost Judgement</option>
        </select>

        <label for="genre">Genre:</label>
        <select id="genre" name="genre" required>
            <option value="action" <%= foundChallenge.genre === 'action' ? 'selected' : '' %>>Action</option>
            <option value="hack-and-slash" <%= foundChallenge.genre === 'hack-and-slash' ? 'selected' : '' %>>Hack and Slash</option>
            <option value="platformer" <%= foundChallenge.genre === 'platformer' ? 'selected' : '' %>>Platformer</option>
            <option value="beat-em-up" <%= foundChallenge.genre === 'beat-em-up' ? 'selected' : '' %>>Beat em up</option>
            <option value="soulsborne" <%= foundChallenge.genre === 'soulsborne' ? 'selected' : '' %>>Soulsborne</option>
        </select>
        <br><br>
        <label for="rules">Rules:</label>
        <input type="text" name="rules" value="<%=foundChallenge.rules%>" required>

        <label for="videoUrl">Video URL:</label>
        <input type="url" name="videoUrl" placeholder="https://www.youtube.com/watch?v=..."  value="<%=foundChallenge.videoUrl%>" required>
        <br><br>
        <label for="platform">Platform:</label>
        <select id="platform" name="platform" required>
            <option value="pc" <%= foundChallenge.platform === 'pc' ? 'selected' : '' %>>PC</option>
            <option value="switch" <%= foundChallenge.platform === 'switch' ? 'selected' : '' %>>Nintendo Switch</option>
            <option value="ps5" <%= foundChallenge.platform === 'ps5' ? 'selected' : '' %>>PS5</option>
            <option value="xbox" <%= foundChallenge.platform === 'xbox' ? 'selected' : '' %>>Xbox</option>
        </select>

        <button type="submit">Edit Record</button>
    </form>
</body>
</html>