<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="/stylesheets/style.css">
     <link rel="shortcut icon" href="/images/logo.png" type="image/x-icon">
    <title>All Challenges Displayed</title>
</head>
<body>
     <%- include('../partials/nav.ejs') %>
    <h1>ALL CHALLENGES</h1>
    <% if (allChallenges.length === 0) { %>
    <p>No challenges have been submitted yet.</p>
<% } %>
   <ul class="challenge-list">
    <% allChallenges.forEach((submission) => { %>
        <li class="challenge-card">
            <a href="/challenges/<%= submission._id %>">
                <h2><%= submission.title %></h2>
            </a>

            <iframe
                width="500"
                height="325"
                src="<%= submission.videoUrl %>"
                title="<%= submission.title %>"
                allowfullscreen>
            </iframe>

            <p>Game: <%= submission.game %></p>
            <p>Genre: <%= submission.genre %></p>
            <p>Uploaded by: <%= submission.owner.username %></p>
        </li>
    <% }) %>
</ul>
</body>
</html>