<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/images/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Show Challenge</title>
</head>
<body>
    <%- include('../partials/nav.ejs') %>
    <h1>Display Challenge</h1>
    <h2><%= foundChallenge.title %></h2>
    <iframe
         width="500"
         height="325"
         src="<%= foundChallenge.videoUrl %>"
         title="<%= foundChallenge.title %>"
         allowfullscreen>
    </iframe>
    <p>Game: <%= foundChallenge.game %> </p>
    <p>Genre: <%= foundChallenge.genre %> </p>
    <p>Platform: <%= foundChallenge.platform %></p>
    <p>Rules: <%= foundChallenge.rules %></p>
    <p>Uploaded By: <%= foundChallenge.owner.username%> </p>


    <% if (user && foundChallenge.owner._id.equals(user._id)) { %>
         <form action="/challenges/<%=foundChallenge._id%>?_method=DELETE" method="POST">

        <button type="submit">Delete This Record</button>
    </form>

    <a href="/challenges/<%=foundChallenge._id%>/edit">  Edit This Record</a>
    <% } %>

    <br><br>
    <h3>Favorites</h3>
   <% if (foundChallenge.favoritedByUsers.length === 0){ %>
        <p>No favorites on this post.</p>
   <% } else if (foundChallenge.favoritedByUsers.length === 1){ %>
        <p>Favorited by: <%= foundChallenge.favoritedByUsers.length%> person.</p>
  <%  }else{ %>
            <p>Favorited by: <%= foundChallenge.favoritedByUsers.length%> people.</p>
    <% } %>

  <%  if (userHasFavorited){ %>
        <form action="/challenges/<%=foundChallenge._id%>/favorited?_method=DELETE" method="POST"><button type="submit">❌</button></form>
  <%  }else{ %>
        <form action="/challenges/<%=foundChallenge._id%>/favorited" method="POST"><button type="submit">👍</button></form>

   <% } %>


   <section>
    
   <% if (foundChallenge.comments.length === 0 ){ %>
        <p>No comments posted.</p>
   <% } %>

    <h3>Comments:</h3>
        <% foundChallenge.comments.forEach((comment) => { %>
            <div class="comment">
            <p><%= comment.content %></p>
            <p>Posted by: <%= comment.author.username %></p>
                

          <%  if (user){ %>
                <% if (comment.author._id.equals(user._id)){ %>
                <form action="/challenges/<%=foundChallenge._id%>/comments/<%=comment._id%>?_method=DELETE" method="POST">
                <button type="submit"> Delete Comment </button>
            </form>
           <% }} %>
           
            
        <% }) %>

    <% if (user) { %>
    <form action="/challenges/<%=foundChallenge._id%>/comments" method="POST">
        <h3>Share a comment!</h3>
        <textarea name="content" rows="5"></textarea>
        <button type="submit">Post Comment</button>
    </form>
<% } else { %>
    <p>Sign in to leave a comment.</p>
<% } %>
</div>


</section>

    
</body>
</html>